y	# Do you agree with the terms of the software license agreement?
y	# Use Zimbra's package repository
y	# Install zimbra-ldap
y	# Install zimbra-logger
y	# Install zimbra-mta
y	# Install zimbra-dnscache
y	# Install zimbra-snmp
y	# Install zimbra-license-daemon
y	# Install zimbra-store
y	# Install zimbra-apache
y	# Install zimbra-spell
y	# Install zimbra-convertd
y	# Install zimbra-memcached
y	# Install zimbra-proxy
n	# Install zimbra-archiving
y	# Install zimbra-onlyoffice
y	# The system will be modified.  Continue?
